/*Body is the background.*/
 body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}
/*Everything else is the elements they apply to.*/
p {
  color: teal;
}
h1 {
  color: teal;
}
h2 {
  color: teal;
}
h3 {
  color: teal;
}
h4 {
  color: teal;
}
h5 {
  color: teal;
}
h6 {
  color: teal;
}
ul {
  color: teal;
}
li {
  color: teal;
}
ol {
  color: teal;
}  
button {
 background-color: red;
 color: black;
}
/*Classes here!*/
.large-button {
  padding: 16px 32px; 
  font-size: 18px;
