/*Body is the background.*/
 body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}
p {
  color: teal;
}
h1 {
  color: teal;
}
h2 {
  color: teal;
}
h3 {
  color: teal;
}
h4 {
  color: teal;
}
h5 {
  color: teal;
}
h6 {
  color: teal;
}
ul {
  color: teal;
}
li {
  color: teal;
}
ol {
  color: teal;
}  
